#artistsHero{
    width: 100%;
    background-image: url("../../Assets/images/pages/artists/artistsBack.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}