.section-cars{
    padding-top: 80px;
}

#carsHero{
    width: 100%;
    background-image: url("../../Assets/images/pages/cars/carsBack.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
