.box__btn{
    display: block;
    width: 20%;
    margin: 0 auto ;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FF416C;
    padding: 7px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}