.MainGeneral{
    padding: 0 100px;    
}

.MenejerHeader{
    background-image: url('../../../Assets/MenegerImg/menejer.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    
    .box{
        
        &__title{
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            color: #FFFFFF;
            text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.49);
        }
        &__text{
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.43);
            width: 25%;
        }
        
        &__btn{
            background: #E4BD63;
            border-radius: 50px;
            padding: 7px 50px;
            font-size: 20px;
            color: #FFFFFF;
            border: 1px solid #E4BD63 ;
        }
    }
}