#multiHero{
    width: 100%;
    background-image: url("../../Assets/images/pages/multi/multiBack.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}