.servicesText{
    padding: 8px 30px;
    border-radius: 12px;
    background: #FFFFFF;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s ease-in-out;

    &:hover{
        color: #FF416C;
        box-shadow: 0px 9px 10px rgba(255, 65, 108, 0.38);
    }
}