.servicesText{
    padding: 8px 28px;
    border-radius: 12px;
    background: #FFFFFF;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}