*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1370px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}