*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1370px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }